<div class="navbar navbar-default navbar-static-top">
  <a href="#" class="brand"><h1>Angular Client</h1></a>
</div>

<ul>
  <li>
    <%= link_to "Angular Client", angular_clients_path -%>
  </li>
  <li>
    <%= link_to "Ampersand Client", ampersand_clients_path -%>
  </li>
</ul>
<footer>
  <p>&copy; Company 2014</p>
</footer>
