<div class="navbar navbar-default navbar-static-top">
  <%= link_to content_tag(:h1, "Rails Angular Ampersand"), root_path, :class => "brand" -%>
</div>
<div class="container" ncy-breadcrumb></div>
<div class="container" ng-view></div>
<footer>
  <p>&copy; Company 2014</p>
</footer>
