<div class="navbar navbar-default navbar-static-top">
  <a href="#" class="brand"><h1>Angular Client</h1></a>
</div>
<div class="container" ng-view></div>
<footer>
  <p>&copy; Company 2014</p>
</footer>
